<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/feed" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Feed</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/profile" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Profile</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/groups" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Groups</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span *ngIf="isAuth" (click)="logout()" class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
