<div class="welcome" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>EarthSaver</h1>
    <p>Let's save our home together!</p>
    <p>EartSaver is a social platform for eco-friendly minds who would like to share their thoughts, dreams and challanges on being green.</p>
    <p>Does it feel too much to use the basic social sites to share a new waste-free shop you found? </p>
    <p>Or a new way to recycle?</p>
    <p>A great vegan restaurant?</p>
    <p>We are here for you.</p>
  </section>
  <section>
    <h1>SHARE YOUR IDEAS AND EXPERIENCES ✔</h1>
    <p>Create posts and meet with other green people.</p>
  </section>
  <section>
    <h1>MAKE FRIENDS ✔</h1>
    <p>Follow your favourite accounts to see their ideas on saving the Earth.</p>
  </section>
  <section>
    <h1>LET'S CREATE A COMMUNITY ✔</h1>
    <p>The first thing we need is YOU. ♥</p>
  </section>
  <section>
    <img src="assets/earth.png" alt="earth" width="256" height="256">
  </section>
</div>
