<h1 fxLayoutAlign="center center">Your profile</h1>
<section>
  <!--  <button>Update your profile</button>-->
  <form
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="15px"
    fxLayoutGap.lt-md="15px"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="text"
        matInput
        placeholder="Biography"
        formControlName="bio">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="number"
        matInput
        placeholder="Your age"
        formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="text"
        matInput
        placeholder="Hobbies"
        formControlName="hobbies">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid">Update profile</button>
  </form>
</section>

<div>
  <h1 fxLayoutAlign="center center">Your groups:</h1>
  <mat-card class="card" *ngFor="let g of this.authService.myGroups">
    <mat-card-content class="card-content">
      {{g.name}}
    </mat-card-content>
  </mat-card>
</div>

<div>
  <h1 fxLayoutAlign="center center">Your posts:</h1>
  <mat-card class="card" *ngFor="let p of this.authService.myPosts">
    <mat-card-content class="card-content">
      {{p.text}}
    </mat-card-content>
  </mat-card>
</div>
