<h1 fxLayoutAlign="center center">Your profile</h1>

<div fxLayout="column" fxLayoutAlign="space-evenly center" *ngIf="this.myProfile !== undefined; else fillItOut">
  <h3>E-mail: {{this.authService.getUser().email}}</h3>
  <h3>Biography: {{this.myProfile.bio}}</h3>
  <h3>Age: {{this.myProfile.age}}</h3>
  <h3>Hobbies: {{this.myProfile.hobbies}}</h3>
</div>

<ng-template #fillItOut>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <h3>You haven't finished your profile yet.</h3>
    <h3>Click on the button below to add your personal data!</h3>
  </div>
</ng-template>


<button fxLayoutAlign="center center" type="submit" class="updatebtn" (click)="toUpdateProfile()" mat-raised-button
        color="primary">Update my profile
</button>

<section *ngIf="updateProfile">
  <form
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="15px"
    fxLayoutGap.lt-md="15px"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="text"
        matInput
        placeholder="Biography"
        formControlName="bio">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="number"
        matInput
        placeholder="Your age"
        formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:800px">
      <input
        type="text"
        matInput
        placeholder="Hobbies"
        formControlName="hobbies">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid">Update</button>
    <button (click)="this.updateProfile = false;" mat-raised-button color="warn">Cancel</button>
  </form>
</section>

<div>
  <h1 fxLayoutAlign="center center">Your groups:</h1>
  <mat-card class="card" *ngFor="let g of this.authService.myGroups">
    <mat-card-content class="card-content">
      {{g.name}}
    </mat-card-content>
  </mat-card>
</div>

<div>
  <h1 fxLayoutAlign="center center">Your posts:</h1>
  <mat-card class="card" *ngFor="let p of this.authService.myPosts">
    <mat-card-content class="card-content">
      {{p.text}}
    </mat-card-content>
  </mat-card>
</div>
